{% extends "layout.html" %}
{% block content %}
<head>
    <style>
        h1{
        color:green;
        text-align: center;
        }
        button {
            background-color: brown;
            width: 250px;
            color: white;
            font-size: 20px;
            padding: 15px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
</head>

<h1> Welcome to Companies Employees Database
    
</h1>

<h3> Employees Details Based on Departments </h3>
<button type="button" onclick="window.location.href='{{url_for('it')}}';">
    IT Employees Detail

</button>

<button type="button" onclick="window.location.href='{{url_for('hr')}}';">
    HR Employees Detail

</button>

<button type="button" onclick="window.location.href='{{url_for('finance')}}';">
    Finance Employees Detail

</button>

{% endblock %}